n8n-workflows/prompt-optimizer-fixed.json
{
  "name": "Prompt Optimizer Agent (z.ai) - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "optimize-prompt",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "system-msg",
              "name": "systemMessage",
              "value": "# Prompt Optimizer Agent\n\nYou are a specialized AI agent that optimizes user prompts for software architecture design tasks.\n\n## Your Task\n\nTake the user's raw request and transform it into a well-structured, detailed prompt that a Software Architect AI agent can use to generate a comprehensive architecture design.\n\n## Optimization Rules\n\n1. **Clarify the Objective**: Extract and clearly state what software/system should be built\n2. **Gather Requirements**: Identify functional and non-functional requirements (even if implied)\n3. **Add Context**: Infer reasonable technical context (scale, users, constraints)\n4. **Structure the Output**: Organize into clear sections\n5. **Identify Missing Info**: Note any critical gaps that would need clarification\n\n## Output Format\n\nReturn the optimized prompt in this exact structure:\n\n```\n# Software Architecture Request\n\n## Objective\n[Clear statement of what to build]\n\n## Requirements\n### Functional Requirements\n- [List what the system should do]\n\n### Non-Functional Requirements\n- [Performance, security, scalability needs]\n\n## Technical Context\n- [Target users, scale, constraints]\n\n## Deliverables\n1. System architecture diagram\n2. Tech stack recommendations\n3. Component breakdown\n4. Data model design\n5. API design\n\n## Notes\n[Any gaps or assumptions made]\n```\n\n## Important\n- Be thorough but concise\n- Make reasonable assumptions when details are missing\n- Keep the tone professional and technical\n- Return ONLY the optimized prompt, no conversational filler",
              "type": "string"
            },
            {
              "id": "user-prompt",
              "name": "userPrompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "api-key",
              "name": "apiKey",
              "value": "79b76595344d44d2be69adb9cf299ff3.Amv4GKNScz7j6zpX",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-vars",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 400]
    },
    {
      "parameters": {
        "url": "https://api.z.ai/api/anthropic/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\": \"claude-3-5-sonnet-20241022\", \"max_tokens\": 4096, \"temperature\": 0.3, \"system\": $json.systemMessage, \"messages\": [{\"role\": \"user\", \"content\": $json.userPrompt}]} }}",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request (z.ai)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [750, 400]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "optimized",
              "name": "optimizedPrompt",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-result",
      "name": "Extract Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "HTTP Request (z.ai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (z.ai)": {
      "main": [
        [
          {
            "node": "Extract Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Result": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
